/** @format */
/* Font */
/* outfit-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Outfit";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/outfit-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Outfit";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/outfit-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Variables */
$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);
$layout-breakpoint-small: 375px;
$layout-breakpoint-large: 1440px;
/* Typography */
body {
	font-size: 15px;
	background-color: hsl(220, 15%, 55%);
}
p {
	font-family: "Outfit";
	font-weight: 400;
	font-size: 16px;
}
.p--bold {
	font-weight: 700;
	font-size: 26px;
}
.p--gray {
	color: $dark-blue;
}
.p--light-gray {
	color: $grayish-blue;
}
.--mx-indent-30 {
	margin-left: 30px;
	margin-right: 30px;
}
.attribution {
	font-size: 14px;
	text-align: center;
	a {
		color: hsl(228, 45%, 44%);
	}
}
/* Body styling */
body {
	background: $light-gray;
	height: 100vh;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
/* QR styling */
.card {
	border-radius: 20px;
	background: $white;
	padding: 20px;
	@media (max-width: $layout-breakpoint-large) {
		width: 340px;
	}
	@media (max-width: $layout-breakpoint-small) {
		width: 75vw;
	}
	.card--shadow {
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}
	.card__qr {
		img {
			width: 100%;
			height: auto;
			border-radius: 20px;
		}
	}
	.card__text {
		text-align: center;
	}
}
